<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Report</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: powderblue;
            }
            .center {
                margin: auto;
                width: 50%;
                border: 3px solid green;
                padding: 10px;
            }
            h1   {color: blue;}
        </style>
    </head>
    <body>
        <div class="center">
            <p>Click the Link Below to Download the application Report</p>
            <a href="/sample_report/11" >Download Report</a>
        </div>
    </body>
</html>
